Q. Write the python statement for the following question:       
a) To create the above DataFrame.    
b) To print the Degree and maximum marks in each
stream.    
c) To fill the NaN with 76.     
d) To set the index to Name.     
e) To display the name and degree wise average
marks of each student.      
f) To count the number of students in MBA.       
g) To print the mode marks BCA.

In [ ]:
#Creating dataframe
import numpy as np
student_data = {
    "Name": ["Aparna", "Pankaj", "Ram", "Ramesh", "Naveen", "Krrishnav", "Bhawna"],
    "Degree": ["MBA", "BCA", "M.Tech", "MBA", np.nan, "BCA", "MBA"],
    "Score": [90.0, np.nan, 80.0, 98.0, 97.0, 78.0, 89.0]
}
students_df = pd.DataFrame(student_data)
print(students_df)
#Degree and maximum marks
print("Maximum marks in each degree:")
print(students_df.groupby("Degree").max())
#To fill the NaN with 76.
students_df["Score"]=students_df["Score"].fillna(76)
print("After filling nan:")
print(students_df)
#To set the index to Name.
students_df.index=students_df["Name"]
del students_df["Name"]  #To remove redundancy
print("After settning Name as index:")
print(students_df)
#To display the name and degree wise average marks of each student
avg_=students_df.groupby(["Name","Degree"])["Score"].mean()
print("Department wise average:")
print(avg_)
#To count the number of students in MBA.
mba_student_count = students_df[students_df["Degree"] == "MBA"].shape[0]
print("Number of MBA students:", mba_student_count)
#To print the mode marks BCA.
mode_of_bca = students_df[students_df["Degree"]=="BCA"]["Score"].mode()
print("Mode of BCA students:")
print(mode_of_bca)

        Name  Degree  Score
0     Aparna     MBA   90.0
1     Pankaj     BCA    NaN
2        Ram  M.Tech   80.0
3     Ramesh     MBA   98.0
4     Naveen     NaN   97.0
5  Krrishnav     BCA   78.0
6     Bhawna     MBA   89.0
Maximum marks in each degree:
          Name  Score
Degree
BCA     Pankaj   78.0
M.Tech     Ram   80.0
MBA     Ramesh   98.0
After filling nan:
        Name  Degree  Score
0     Aparna     MBA   90.0
1     Pankaj     BCA   76.0
2        Ram  M.Tech   80.0
3     Ramesh     MBA   98.0
4     Naveen     NaN   97.0
5  Krrishnav     BCA   78.0
6     Bhawna     MBA   89.0
After settning Name as index:
           Degree  Score
Name
Aparna        MBA   90.0
Pankaj        BCA   76.0
Ram        M.Tech   80.0
Ramesh        MBA   98.0
Naveen        NaN   97.0
Krrishnav     BCA   78.0
Bhawna        MBA   89.0
Department wise average:
Name       Degree
Aparna     MBA       90.0
Bhawna     MBA       89.0
Krrishnav  BCA       78.0
Pankaj     BCA       76.0
Ram        M.Tech    80.0
Ramesh     MBA       98.0
Name: Score, dtype: float64
Number of MBA students: 3
Mode of BCA students:
0    76.0
1    78.0
Name: Score, dtype: float64