Q. Table Product is given. Write the python
code for the following:
a) To create the data frame for the above table.   
b) To add the new rows in the data frame.   
c) To display the maximum price of LG TV.    
d) To display the Sum of all products.    
e) To display the median of the USD of Sony
products.    
f) To sort the data according to the Rupees.

In [1]:
#Creating a dataframe
import pandas as pd
data = {
    "Item": ["TV", "TV", "TV", "AC"],
    "Company": ["LG", "VIDEOCON", "LG", "SONY"],
    "Rupees": [12000, 10000, 15000, 14000],
    "USD": [700, 650, 800, 750]
}
Product = pd.DataFrame(data)
print(Product)
#Adding new row
new_row=pd.DataFrame([{"Item":"FAN","Company":"Bajaj", "Rupees":8000,"USD":96}])
Products=pd.concat([Product,new_row],ignore_index="True")
print("After adding new row:")
print(Products)
#Maximum price of LG TV
max_price=Products[(Products["Company"]=="LG") & (Products["Item"]=="TV")]["Rupees"].max()  # Use &, not and
print("Maximum price of LG TV:",max_price)
#Sum of all products
total_price=Products["Rupees"].sum()
print("Total price:",total_price)
#To display the median of the USD of Sony products.
median_=Products[Products["Company"]=="SONY"]["USD"].median()
print("Median of sony products in USD:",median_)
#Sorting data by Rupees
sorted_Products=Products.sort_values(by="Rupees",ascending=True,ignore_index="True")
print("Sorting by Rupees:")
print(sorted_Products)

  Item   Company  Rupees  USD
0   TV        LG   12000  700
1   TV  VIDEOCON   10000  650
2   TV        LG   15000  800
3   AC      SONY   14000  750
After adding new row:
  Item   Company  Rupees  USD
0   TV        LG   12000  700
1   TV  VIDEOCON   10000  650
2   TV        LG   15000  800
3   AC      SONY   14000  750
4  FAN     Bajaj    8000   96
Maximum price of LG TV: 15000
Total price: 59000
Median of sony products in USD: 750.0
Sorting by Rupees:
  Item   Company  Rupees  USD
0  FAN     Bajaj    8000   96
1   TV  VIDEOCON   10000  650
2   TV        LG   12000  700
3   AC      SONY   14000  750
4   TV        LG   15000  800