## **PANDAS EXERCISES**

> Add blockquote

23-07-25

Q. Create a DataFrame Sales containing
year wise sales figures for five sales persons in INR.
Use the years as column labels, and sales person
names as row labels. Explore diffrent attributes.

In [ ]:
import pandas as pd
r = ["Madhu", "Kusum", "Kinshuk", "Ankit", "Shruti"]
c = ["2014", "2015", "2016", "2017"]
values = [
    [100.5, 12000, 20000, 50000],
    [150.8, 18000, 50000, 60000],
    [200.9, 22000, 70000, 70000],
    [30000, 30000, 100000, 80000],
    [40000, 45000, 125000, 90000]
]
sales1 = pd.DataFrame(values,index=r,columns = c)  #Creating dataframe
print(sales1)

            2014   2015    2016   2017
Madhu      100.5  12000   20000  50000
Kusum      150.8  18000   50000  60000
Kinshuk    200.9  22000   70000  70000
Ankit    30000.0  30000  100000  80000
Shruti   40000.0  45000  125000  90000

In [ ]:
#Diff Attributes
print("1.Rows:",sales1.index)
print("2.Columns:",sales1.columns)
print("3.Datatypes of Different columns:")
print(sales1.dtypes)
print("4.Dimensions:",sales1.ndim)
print("5.Shape:",sales1.shape)
print("6.Size:",sales1.size)
print("7.Values:",sales1.values)
print("8.Last two rows:",sales1.tail(2))
print("9.First two columns",sales1.iloc[:,:2])
d={
    "Madhu": 160000,
    "Kusum": 110000,
    "Kinshuk": 500000,
    "Ankit": 340000,
    "Shruti": 900000
}
print("10.SALES2")
sales2=pd.DataFrame(d.values(),index=d.keys(),columns=["2018"])
print(sales2)
print("Empty?",sales1.empty)

1.Rows: Index(['Madhu', 'Kusum', 'Kinshuk', 'Ankit', 'Shruti'], dtype='object')
2.Columns: Index(['2014', '2015', '2016', '2017'], dtype='object')
3.Datatypes of Different columns:
2014    float64
2015      int64
2016      int64
2017      int64
dtype: object
4.Dimensions: 2
5.Shape: (5, 4)
6.Size: 20
7.Values: [[1.005e+02 1.200e+04 2.000e+04 5.000e+04]
 [1.508e+02 1.800e+04 5.000e+04 6.000e+04]
 [2.009e+02 2.200e+04 7.000e+04 7.000e+04]
 [3.000e+04 3.000e+04 1.000e+05 8.000e+04]
 [4.000e+04 4.500e+04 1.250e+05 9.000e+04]]
8.Last two rows:            2014   2015    2016   2017
Ankit   30000.0  30000  100000  80000
Shruti  40000.0  45000  125000  90000
9.First two columns             2014   2015
Madhu      100.5  12000
Kusum      150.8  18000
Kinshuk    200.9  22000
Ankit    30000.0  30000
Shruti   40000.0  45000
10.SALES2
           2018
Madhu    160000
Kusum    110000
Kinshuk  500000
Ankit    340000
Shruti   900000
Empty? False