Q. Use the DataFrame created sales to
do the following:
a) Append the DataFrame Sales2 to the DataFrame
Sales.       
b) Change the DataFrame Sales such that it becomes
its transpose.                  
c) Display the sales made by all sales persons in the
year 2017.           
d) Display the sales made by Madhu and Ankit in
the year 2017 and 2018.      
e) Display the sales made by Shruti 2016.    
f) Add data to Sales for salesman Sumeet where
the sales made are [196.2, 37800, 52000, 78438,
38852] in the years [2014, 2015, 2016, 2017,
2018] respectively.        
g) Delete the data for the year 2014 from the
DataFrame Sales.        
h) Delete the data for sales man Kinshuk from the
DataFrame Sales.          
i) Change the name of the salesperson Ankit to
Vivaan and Madhu to Shailesh.          
j) Update the sale made by Shailesh in 2018 t0 100000.          
k) Write the values of DataFrame Sales to a comma
separated file SalesFigures.csv on the disk. Do
not write the row labels and column labels.      
l) Read the data in the file SalesFigures.csv into
a DataFrame SalesRetrieved and Display it.
Now update the row labels and column labels of
SalesRetrieved to be the same as that of Sales.

In [ ]:
#Creating dataframe
import pandas as pd
r = ["Madhu", "Kusum", "Kinshuk", "Ankit", "Shruti"]
c = ["2014", "2015", "2016", "2017"]
values = [
    [100.5, 12000, 20000, 50000],
    [150.8, 18000, 50000, 60000],
    [200.9, 22000, 70000, 70000],
    [30000, 30000, 100000, 80000],
    [40000, 45000, 125000, 90000]
]
sales1 = pd.DataFrame(values,index=r,columns = c)

d={
    "Madhu": 160000,
    "Kusum": 110000,
    "Kinshuk": 500000,
    "Ankit": 340000,
    "Shruti": 900000
}
sales2=pd.DataFrame(d.values(),index=d.keys(),columns=["2018"])
sales1["2018"]=sales2["2018"]
print(sales1)

            2014   2015    2016   2017    2018
Madhu      100.5  12000   20000  50000  160000
Kusum      150.8  18000   50000  60000  110000
Kinshuk    200.9  22000   70000  70000  500000
Ankit    30000.0  30000  100000  80000  340000
Shruti   40000.0  45000  125000  90000  900000

In [ ]:
#Appending a column
sales1["2018"]=sales2["2018"]
print("Appended\n",sales1)
#Transpose
sales_t=sales1.T
#Filtering
print("Sales made by salesmen in 2017\n",sales1["2017"]) #Column
filtered_columns = sales1[["2017","2018"]]
result = filtered_columns.loc[filtered_columns.index.isin(["Madhu","Ankit"])]
print("Specific records in specific years:\n",result)
print("Sales made by Rida in 2016:",sales1.loc["Shruti","2016"])
# Adding a row
values = [[196.2, 37800, 52000, 78438,
38852]] # 2D imp
c=["2014","2015","2016","2017","2018"]
s = pd.DataFrame(values,columns=c,index=["Sumeet"])
sales = pd.concat([sales1,s], axis=0)
print(sales)
# Deleting rows
sales = sales.drop("Kinshuk")
print("After deleting Kinshuk records:")
print(sales)
#Change the name of the salesperson Ankit to Vivaan and Madhu to Shailesh.
sales.rename(index={"Madhu":"Shailesh","Ankit":"Vivaan"},inplace="True")
print("After Renaming:")
print(sales)
#Update the sale made by Shailesh in 2018 to 100000.
sales.loc["Shailesh", "2018"] = 100000
print("After changing:")
print(sales)
#Write the values of DataFrame Sales to a comma separated file SalesFigures.csv on the disk. Do not write the row labels and column labels.
sales.to_csv("SalesFigures.csv", index=False, header=False)
#Read the data in the file SalesFigures.csv into a DataFrame SalesRetrieved and Display it.Now update the row labels and column labels of SalesRetrieved to be the same as that of Sales.
SalesRetrieved=pd.read_csv("SalesFigures.csv",header= None)
SalesRetrieved.index=sales.index
SalesRetrieved.columns=sales.columns
print("SalesRetrived:")
print(SalesRetrieved)

Appended
             2014   2015    2016   2017    2018
Madhu      100.5  12000   20000  50000  160000
Kusum      150.8  18000   50000  60000  110000
Kinshuk    200.9  22000   70000  70000  500000
Ankit    30000.0  30000  100000  80000  340000
Shruti   40000.0  45000  125000  90000  900000
Sales made by salesmen in 2017
 Madhu      50000
Kusum      60000
Kinshuk    70000
Ankit      80000
Shruti     90000
Name: 2017, dtype: int64
Specific records in specific years:
         2017    2018
Madhu  50000  160000
Ankit  80000  340000
Sales made by Rida in 2016: 125000
            2014   2015    2016   2017    2018
Madhu      100.5  12000   20000  50000  160000
Kusum      150.8  18000   50000  60000  110000
Kinshuk    200.9  22000   70000  70000  500000
Ankit    30000.0  30000  100000  80000  340000
Shruti   40000.0  45000  125000  90000  900000
Sumeet     196.2  37800   52000  78438   38852
After deleting Kinshuk records:
           2014   2015    2016   2017    2018
Madhu     100.5  12000   20000  50000  160000
Kusum     150.8  18000   50000  60000  110000
Ankit   30000.0  30000  100000  80000  340000
Shruti  40000.0  45000  125000  90000  900000
Sumeet    196.2  37800   52000  78438   38852
After Renaming:
             2014   2015    2016   2017    2018
Shailesh    100.5  12000   20000  50000  160000
Kusum       150.8  18000   50000  60000  110000
Vivaan    30000.0  30000  100000  80000  340000
Shruti    40000.0  45000  125000  90000  900000
Sumeet      196.2  37800   52000  78438   38852
After changing:
             2014   2015    2016   2017    2018
Shailesh    100.5  12000   20000  50000  100000
Kusum       150.8  18000   50000  60000  110000
Vivaan    30000.0  30000  100000  80000  340000
Shruti    40000.0  45000  125000  90000  900000
Sumeet      196.2  37800   52000  78438   38852
SalesRetrived:
             2014   2015    2016   2017    2018
Shailesh    100.5  12000   20000  50000  100000
Kusum       150.8  18000   50000  60000  110000
Vivaan    30000.0  30000  100000  80000  340000
Shruti    40000.0  45000  125000  90000  900000
Sumeet      196.2  37800   52000  78438   38852